/* This is just as an example here*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Content-wrapper-main {
  background-color: #282c34;
  /*min-height: 100vh;*/
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100%;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  font-family: 'Azo Sans', Bilo, 'Open Sans';
  font-weight: 300;
}

.Knee {
  z-index: 1200;
  width: 25%;
  height: 25%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}